.page {
    width: 100%;;
}
.profile_banner{
    display: grid;
    grid-template: 25px 250px 25px / 50px 250px 1fr;
    overflow: hidden;
    
    grid-template-areas:
    ". . ."
    ". icon name"
    ". . .";

    width: 100%;

    background-color: black;
}

.profile_icon{
    position: relative;
    grid-area: icon;
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}
.overlay_image{
    height: 75%;
    width: 75%;
}


.overlay {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 35px;
  }

  .profile_icon:hover .overlay {
    opacity: 1;
  }

.profile_image{
    height: 100%;
    width: 100%;
}

.profile_name{
    grid-area: name;
    color: white;
    font-size: 90px;
    margin-left: 20px;
    align-self: end;
    cursor: pointer;

}

.profile_name:hover{
    color: rgb(151, 151, 151);
}

.edit_form input{
    color: white;
    background-color: rgb(147, 147, 147);
}
.edit_form label{
    color: white;
    font-weight: bold;
}

.edit_form {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background-color: rgb(69, 69, 69);
    color:black;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

.popup-background{
    position: fixed;
    background: #0000007d;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index:5;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid rgb(147, 147, 147); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  .submit {
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit:hover {
    background-color: rgb(159, 117, 0);

  }

  .delete {
    margin-left: 5px;
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete:hover {
    background-color: rgb(159, 117, 0);
  }

  .exit{
    background-color: rgb(255, 187, 0);
    color: white;
    /* padding: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 20px;
    width: 20px;

    border-radius: 4px;

    cursor: pointer;
    margin-left: auto;
}

.exit:hover {
    background-color: rgb(159, 117, 0);
  }

  .all__playlists{
    margin-top: 10px;
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
  }

  .individual__playlist{
    background-color: rgba(77, 74, 74, 0.3);
    height: 290px;
    width: 210px;
    display: grid;
    grid-template: 12px 180px 38px 37px 1fr / 1fr 180px 1fr;
    grid-template-areas:
    ". . ."
    ". image ."
    ". playlist_name ."
    ". user_name ."
    ". . .";
    cursor: pointer;
  }

.individual__playlist__image{
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.individual__playlist__name{
    grid-area: playlist_name;
    bottom: 0px;
    align-self: end;
    color: white;
    font-family: Helvetica, sans-serif;
}

.individual__playlist__creator{
    grid-area: user_name;
    color: white;
    align-self: end;
    color: rgb(172, 168, 168);
    font-family: Helvetica, sans-serif;

}

.individual__playlist:hover{
    background-color: rgba(34, 34, 34, 0.3);
}

.individual__playlist:hover .individual__playlist__image{
    opacity: .6;
}
