.song__container {
    position: relative;
    display: flex;
    /* padding-left: 28px;
    padding-right: 40px; */
    height: 50px;
    width: 90%;
    align-items: center;
    border-radius: 4px;
}
.song__container:hover {
    background-color: #4b4949;
}

.song__imageDiv {
    width: 40px;
    height: 40px;
    margin-left: 5px ;
}

.song__image {
    object-fit: contain;
    width: 100%;
    max-height: 40px;
}
.song__text {
    margin-left: 20px;
}
.song__text * {
    margin: 0;
    padding: 0;
}
.song__text p {
    color: rgb(192, 185, 185);
    font-size: 12px;
}
.song__text h4 {
    color: white;
}

.song__duration {
    position: absolute;
    color: white;
    font-family: fantasy;
    font-weight: 400;
    right: 40px;
    top: 12px;
}
.song__btnImage {
    background-image: url("../../icons/add.svg");
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
}
.song__addBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 4px;
    top: 12px;
    display: none;
}
.song__container:hover button {
    display: inline-block;
}
.song__playbtnImage {
    background-image: url("../../icons/transparentPlay.svg");
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
}
.song__playBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    left: 7px;
    display: none;
}
.song__durationDiv {
    width: 80px;
    height: 100%;
}
