

#navLoginButton {
  border-radius: 500px;
  color: black;
  cursor: pointer;
  height: 32px;
  padding: 8px 34px;
  font-size: 12px;
  text-transform: uppercase;
  border-width: 0;

}

#navSignUpButton {
    border-radius: 500px;
    color: black;
    cursor: pointer;
    height: 32px;
    padding: 8px 34px;
    font-size: 12px;
    text-transform: uppercase;
    border-width: 0;

}

#logoutButton {
    border-radius: 500px;
    color: black;
    cursor: pointer;
    height: 32px;
    padding: 8px 34px;
    font-size: 12px;
    text-transform: uppercase;
    border-width: 0;

}

